/*-------------GERAL-------------*/
body {
    background-color: #e5e5e5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}
button {
    padding: 10px 20px;
    font-size: 0.8em;
    cursor: pointer;
}
.container {
    width: 55%;
    margin: 30px auto;
}

/*-------------HEADER-------------*/

header {
    display: flex;
    justify-content: center;
    background-color: #283D3A;
    border-radius: 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

#img-logo {
    padding: 10px;
    scale: .2;
}
/*-------------ENVIAR-------------*/

#formu {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 30px;
    margin-bottom: 50px;
    height: 250px;
    width: 400px;
    background: #E1F9FE;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    left: 165px;
}
#nome{
    width: 400px;
    background: #FAFAFA;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
}
#pmensagem{
    position: relative;
    top: 10px;
}
#mensagem{
    width: 400px;
    height: 150px;
    background: #FAFAFA;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: initial;
}
#postar{
    background-color: #E1F9FE;
    width: 120px;
    height: 40px;
    border: 1px solid #283D3A;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 30px;
    left: 50px;
    transition: .4s;
}
#postar:hover{
    background-color: #283D3A;
    color: white;
}
#obter{
    background-color: #E1F9FE;
    width: 120px;
    height: 40px;
    border: 1px solid #283D3A;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: -10px;
    left: 240px;
    transition: .4s;
}
#obter:hover{
    background-color: #283D3A;
    color: white;
}
#backtotop{
    position: absolute;
    left: 1200px;
}
/*-------------FILTRO-------------*/

h2{
    display: grid;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
}

.pfiltro{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    position: relative;
    left: 415px;
    top: 28px;
    width: 100px;
}
#obterID{
    background: #E5E5E5;
    border: 1px solid #283D3A;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    left: 520px;
    width: 140px;
    height: 22px;
}
#obterIDbtn{
    background: #E5E5E5;
    border: 1px solid #283D3A;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    left: 520px;
    top: 10px;
    width: 5px;
    height: 5px;
}
#img-lupa{
    position: relative;
    right: 7px;
    bottom: 7px;
}
/*-------------LISTA-------------*/

#lista > div {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 30px;
    margin-bottom: 50px;
    height: 150px;
    width: 380px;
    background: #E1F9FE;
    border-radius: 20px;
    position: relative;
    left: 500px;
    top: 50px;
}
#lista button {
    display: flex;
    flex-flow: column-reverse;
    width: 15px;
    height: 35px;
}
#lista h3{
    font-weight: bold;
    text-overflow: unset;
}


/*-------------EDIÇÃO-------------*/
#lista .pressEdit{
    background-color: black;
}

